#Dependencias
/vendor/

# Archivos de configuración sensible
.env

# Archivos de configuración de entorno de trabajo
.vscode/
.DS_Store

/logs/*.log

# Caché de Twig
/src/App/views/cache/

# Imágenes subidas dinámicamente o descargadas de la API
/public/assets/img/libro_*
/public/assets/img/autor_*
