.resultado-busqueda {
    text-align: center;
    margin: 4rem;
    font-size: 2.4rem;
}

.resultado-busqueda strong {
    font-weight: 900;
}

@media screen and (min-width: 994px) {
    .busqueda-main {
        padding: 2rem;
    }

    .busqueda .grilla-libros article {
        max-width: 300px;
        max-height: 480px;
    }

     .busqueda .grilla-libros p {
        font-size: 1.4rem;
    }
}