{% extends 'layout/base.html.twig' %}

{% block title %}Inicio - PawPrints{% endblock %}

{% block main %}
  <header class="Bienvenida">
    <h1>Bienvenido a PAWPrints</h1>
    <p>¡Descubrí un mundo de libros en nuestra tienda física y en línea!</p>
    <a href="/catalogo" class="btn-primario">Ver Catálogo</a>
  </header>

  <section class="promociones">
    <h2>Promociones y Novedades</h2>
    <p class="ofertas-noticias">
      ¡Mirá nuestras últimas ofertas y noticias!
    </p>

    <article>
      <img src="/assets/img/nuevos-ingresos.png" alt="" />
      <h3>Nuevos Ingresos</h3>
      <p>Descubrí los últimos títulos agregados a nuestro catálogo.</p>
    </article>

    <article>
      <img src="/assets/img/descuento-mes.png" alt="" />
      <h3>Descuentos del Mes</h3>
      <p>
        Obtené hasta un 50% de descuento en artículos seleccionados este
        mes.
      </p>
    </article>

    <article>
      <img src="/assets/img/eventos.png" alt="" />
      <h3>Eventos</h3>
      <p>¡Sumate a nuestros próximos eventos de firma de libros!</p>
    </article>
  </section>

  <section class="tienda-fisica" itemscope itemtype="https://schema.org/LocalBusiness">
    <h2>Tienda Física - <span itemprop="name">PAWPrints</span></h2>
    <figure>
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1fqEzq6nPa6IITzVkvMWnMvfQsy2sqrQ&ehbc=2E312F&noprof=1"
      ></iframe>
    </figure>

    <address>
      <p><strong>Horarios de Atención:</strong></p>
      <ul>
        <li><time itemprop="openingHours" datetime="Mo-Fr 09:00-21:00">Lun-Vie: 9 AM - 9 PM</time></li>
        <li><time itemprop="openingHours" datetime="Sa-Su 10:00-18:00">Sáb-Dom: 10 AM - 6 PM</time></li>
      </ul>
    </address>
  </section>
{% endblock %}
