{% extends 'layout/base.html.twig' %}

{% block title %}PawPrints - Reserva Exitosa{% endblock %}

{% block main %}
    <section class="mensaje-exito">
        <span class="material-symbols-outlined icono-exito">
            check_circle
        </span>
        <h1>¡Reserva confirmada!</h1>
        <p>Hemos procesado tu solicitud correctamente.<br> El personal de la librería ha sido notificado por correo electrónico y se pondrá en contacto con usted a la brevedad.</p>
        
        <a href="/catalogo" class="btn-volver btn-primario">VOLVER AL CATÁLOGO</a>
    </section>
{% endblock %}
